@model IEnumerable<DeniaRealty.Models.ServicesModel>

@{
    ViewBag.Title = "IndexService";
}

<h2>IndexService</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicesModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicesModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicesModelId })
        </td>
    </tr>
}

</table>
